{% extends "planner/__base.html" %}

{% load static %}



{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'planner/css/layout_detail.css' %}">
{% endblock %}

{% block javascript_header %}
  {{ block.super }}
{% endblock %}

{% block main_content %}

  {# Stage - layout of remaining right side of page #}
  <section class="row">
    <section class="col-xs-auto sidebar">
      {% block sidebar_content %}{% endblock %}
    </section>

    <section class="col">
      {% block stage_content %}{% endblock %}
    </section>
  </section>

{% endblock main_content %}

{% block javascript_footer %}
  {{block.super}}
{% endblock %}

