{% extends "planner/__base.html" %}

{% load static %}



{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'planner/css/layout_detail.css' %}">
{% endblock %}

{% block javascript_header %}
  {{ block.super }}
{% endblock %}

{% block main_content %}

  {# Navigation - header of page #}
  {% include "planner/_nav_header.html" with user=user %}

  {# Stage - layout of remaining right side of page #}
  <section class=row>
    <section class="col-2">
      {% block sidebar_content %}{% endblock %}
    </section>

    <section class="col-10">
      {% block stage_content %}{% endblock %}
    </section>
  </section>

{% endblock main_content %}

{% block javascript_footer %}
  {{block.super}}
{% endblock %}

