{% extends "planner/__base.html" %}

{% load static %}

{% block stylesheets %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'planner/css/layout_detail.css' %}">
{% endblock %}

{% block javascript_header %}
  {{block.super}}
{% endblock %}

{% block main_content %}

  {# Page below navigation #}
  <section class="row">

   {# Sidebar - left of screen #}
    <section class="col-sm-auto sidebar">

      <section class="admin-controls">
        {% block admin_controls %}
        {% endblock %}
      </section>

      <section class="detail-buttons">
        {% block detail_buttons %}
        {% endblock %}
      </section>

      {% block sidebar_content %}{% endblock %}
    </section>

  {# Stage - layout of remaining right side of page #}
    <section class="col">

      {# main content row #}
      <div class="row">

        {# Summary, left half of top row #}
        <section class="col detail-summary">
          {% block detail_title %}
          {% endblock %}

          {# Summary block #}
          <section class="detail-stats">
            {% block detail_stats %}
            {% endblock %}
          </section>

        </section> {# end summary col #}

        {# Map block - right half of top row #}
        {% block detail_map_embed_section_override %}
        <section class="col-md-auto detail-map-embed">
          {% block detail_map_embed %}
            <div>block detail_map_embed</div>
          {% endblock %}
        </section>
        {% endblock %}

      </div>

  {# All content below main row #}
  {% block detail_below_fold %}
    <p>block detail_below_fold</p>
  {% endblock %}
    </section>
  </section>

{% endblock main_content %}

{% block stage_content %}
{% endblock stage_content %}

{% block javascript_footer %}
  {{block.super}}
{% endblock %}
