{# takes NOAA API data already parsed by day (parseAPI.NOAA_by_day()) and displays them with each day as a tab #}
{# INPUT: weather_by_day #}



{% if weather_by_day|length == 0 %}
  <p>Weather forecast is not available.</p>

{% else %}

  {# create tabs #}
  <div>
    <ul class="nav nav-tabs" id="weatherTabs">
      {% for day in weather_by_day %}
        <li class="nav-item">
          <a class ="nav-link {% if day.dayOfWeek == 'Today' %}active{% endif %}" data-toggle="tab" href="#weather{{day.dayOfWeek}}" role="tab">{{day.dayOfWeek}}</a>
        </li>
      {% endfor %}
    </ul>

    {# create content referenced by tabs #}
    <div class="tab-content" id="weatherTabsContent">
      {% for day in weather_by_day %}
        <div class="tab-pane fade {% if day.dayOfWeek == 'Today' %}show active {% endif %}" id="weather{{day.dayOfWeek}}" role="tabpanel">
          <div class="row">
            {% for period in day.periodData %}
              <div class="col">
                <h3>{{period.name}}</h3>
                <img src="{{period.icon}}">
                <p>Temperature: {{period.temperature}}{{period.temperatureUnit}}</p>
                <p>Wind: {{period.windDirection}} {{period.windSpeed}}</p>
                <p>Forecast: {{period.detailedForecast}}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

{% endif %}
