{% extends "planner/__l_left_sidebar.html" %}

{% load planner_timeconvert %}
{% load planner_distconvert %}
{% load crispy_forms_tags %}


{% block sidebar_content %}
<div class="m-2">
  <h3>Search Filters</h3>
  <form action="" method="get">
    <button type="submit" class="btn btn-primary btn-block">Search</button>
    {{ search_form|crispy }}
  </form>
</div>
{% endblock %}

{% block stage_content %}
{% if route_list %}
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Destination</th>
        <th scope="col">Route</th>
        <th scope="col">Length</th>
        <th scope="col">Elevation Gain</th>
        <th scope="col">Class</th>
        <th scope="col">Drive Time ({{user.profile.nearest_city.name}})</th>
        <th scope="col">Drive Distance ({{user.profile.nearest_city.name}})</th>
      </tr>
    </thead>
    <tbody>
      {% for route in route_list %}
        <tr>
          <td><a href="{{route.destination.get_absolute_url}}">{{route.destination.name}}</a></td>
          <td><a href="{{route.get_absolute_url}}">{{route.name}}</a></td>
          <td class="text-right">{{route.total_distance|floatformat:1}} mi</td>
          <td class="text-center">{{route.gain}} ft</td>
          <td class="text-center">{{route.class_rating}}</td>
          <td class="text-center">{{route.trailhead_drive_time|sec_to_hour_min_trunc:"hour"}} hr {{route.trailhead_drive_time|sec_to_hour_min_trunc:"min"}} min</td>
          <td class="text-center">{{route.trailhead_drive_distance|m_to_miles|dist_roundup|floatformat:"0"}} mi</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<p>No routes in the database match your criteria. If you have not entered a filter, this may be caused by not selecting a "Nearest City" in your user settings.</p>
{% endif %}
{% endblock %}
