{% extends "planner/__l_left_sidebar.html" %}

{% block stage_content %}
<table class="table-striped">
  <thead>
    <tr>
      <th scope="col">Destination</th>
      <th scope="col">Route</th>
      <th scope="col">Length</th>
      <th scope="col">Elevation Gain</th>
      <th scope="col">Class</th>
      <th scope="col">Drive Time From {{user.profile.nearest_city.name}}</th>
      <th scope="col">Drive Distance From {{user.profile.nearest_city.name}}</th>
    </tr>
  </thead>
  <tbody>
    {% for drive_time_entry in drivetimemajorcity_list %}
      {% for route in drive_time_entry.trailhead.route_set.all %}
        <tr>
          <td><a href="{{route.destination.get_absolute_url}}">{{route.destination.name}}</a></td>
          <td><a href="{{route.get_absolute_url}}">{{route.name}}</a></td>
          <td>{{route.total_distance|floatformat:1}} mi</td>
          <td>{{route.gain}} ft</td>
          <td>{{route.class_rating}}</td>
          <td>{{drive_time_entry.drive_time_str}}</td>
          <td>{{drive_time_entry.drive_distance_miles|floatformat:"0"}} mi</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
