{% extends "planner/__l_detail_grid.html" %}

{% load static %}

{% load planner_timeconvert %}

{% block stylesheets %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'planner/css/destination_detail.css' %}">
{% endblock %}

{% block javascript_footer %}
  {#<script src="{% static 'planner/jquery/ajax_weather.js' %}"></script>#}
{% endblock %}


{% block admin_controls %}
  {% if perms.destination.can_change %}
  <div class="mt-1 mb-2">
    <h3>Admin Controls</h3>
    <a href="{% url 'destination-edit' pk=destination.pk %}" class="btn btn-primary btn-block">Edit Page</a>
    <a href="{% url 'destination-delete' pk=destination.pk %}" class="btn btn-danger btn-block">Delete Page</a>
  </div>
  {% endif %}
{% endblock %}


{% block detail_buttons %}
  <div class="my-2">
    <a href="{{destination.google_maps_terrain_url}}" class="btn btn-secondary btn-block" target="_blank">Google Terrain</a>
    <a href="{{destination.google_maps_satellite_url}}" class="btn btn-secondary btn-block" target="_blank">Google Satellite</a>
    <a href="{{destination.caltopo_url}}" class="btn btn-secondary btn-block" target="_blank">CalTopo</a>
    <a href="{{destination.noaa_url}}" class="btn btn-secondary btn-block" target="_blank">NOAA Weather</a>
  </div>
{% endblock %}


{% block sidebar_content %}

  <h3>Relevant Links</h3>

  <a href="{% url 'destination-link-add' dest_pk=destination.pk %}" class="btn btn-primary btn-block">Add Link</a>

  <ul>
    {% for pub_link in public_links %}
      <li><a href="{{pub_link.url}}" target="_blank">{{pub_link.label}}</a>
        {% if perms.can_edit_destinationlink %}
          (<a href="{{pub_link.get_edit_url}}">Edit</a>)
          (<a href="{{pub_link.get_delete_url}}">X</a>)
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <h4>Your Links</h4>
  <ul>
    {% for pr_link in private_links %}
      <li><a href="{{pr_link.url}}" target="_blank">{{pr_link.label}}</a>
        (<a href="{{pr_link.get_edit_url}}">Edit</a>)
        (<a href="{{pr_link.get_delete_url}}">X</a>)
      </li>
    {% empty %}
      <li>No links saved.</li>
    {% endfor %}
  </ul>
{% endblock %}


{% block detail_title %}
  <h1>{{destination.name}}</h1>
  <h2><em class="text-muted">{{destination.dest_type_expanded}}</em></h2>
{% endblock %}


{% block detail_stats %}
  <table class="table">
    <tr>
      <th scope="row">Lat/Lon</th>
      <td>{{destination.latitude}}, {{destination.longitude}}</td>
    </tr>
    <tr>
      <th scope="row">Elevation</th>
      <td>{{destination.elevation | floatformat:"0"}} ft</td>
    </tr>
    <tr>
      <th scope="row">Location</th>
      <td>{{destination.county.name}} County ({{destination.county.state}})</td>
    </tr>
    <tr>
      <th scope="row">Jurisdiction</th>
      <td><a href="{{destination.jurisdiction.website}}" target="_blank">{{destination.jurisdiction}}</a><br>{{destination.jurisdiction.governing_body}}</td>
    </tr>
  </table>
{% endblock %}

{% block detail_map_embed %}
  <img src="{{destination.google_maps_embed_url}}">
  {# <p><a href="{{destination.google_maps_embed_url}}">Destination static map</a></p> #}
{% endblock %}


{% block detail_below_fold %}
  {% if destination.description %}
  <section class="dest-description">
    <h2>Description</h2>
    <p>{{destination.description|default:"No description provided."}}</p>
  </section>
  {% endif %}

  <div class="row mb-3">
    <section class="col dest-routes">
      {% with routes=destination.route_set.all %}
        <h2>Routes ({{routes | length}})</h2>

        {% if routes %}
          <ul>
          {% for route in routes %}
            <li><a href="{{route.get_absolute_url}}">{{route.name}} - {{route.total_distance}} mi, {{route.gain}} ft gain</a></li>
          {% endfor %}
          </ul>
        {% else %}
          <p>There are no saved routes accessing this destination.</p>
        {% endif %}

        <a href="{% url 'route-add-combo' %}?destinationpk={{destination.pk}}" class="btn btn-primary">Add Route</a>
      {% endwith %}
    </section>
  </div>

  <h2>Weather</h2>
  <div class="row mb-3">
    <div class="col-sm-auto border">
      <h3>Today's Cycle</h3>
      {% if sun_data.status == "OK" %}
        <ul class="list-unstyled">
          <li>Sunrise: {{sun_data.sunrise|time}}</li>
          <li>Sunset: {{sun_data.sunset|time}}</li>
          <li>Total daylight: {{sun_data.day_length|sec_to_hour_min_trunc:"hour"}} hr {{sun_data.day_length|sec_to_hour_min_trunc:"min"}} min</li>
          <li class="text-muted">First Light: {{sun_data.first_light|time}}</li>
          <li class="text-muted">Last Light: {{sun_data.last_light|time}}</li>
        </ul>

        <p class="text-muted text-attribution">Local times shown ({{sun_data.timezone}})</p>
        <p class="text-muted text-attribution">Time data provided by: <a href="https://sunrise-sunset.org">sunrise-sunset.org</a></p>
      {% else %}
        <div class="alert alert-warning">Sun cycle data is not available.<br>{{sun_data.message}}</div>
      {% endif %}
    </div>

    <div class="col dest-weather border" noaa-api-url="{{noaa_api_url}}">
      <h3>Forecast</h3>
      {% include "planner/_weather_tabs.html" with weather_by_day=weather_by_day %}
    </div>
  </div>

  <div class="row">
    <section class="col dest-redtape">
      <h2>Red Tape (<a href="{{destination.jurisdiction.website}}" target="_blank">{{destination.jurisdiction}}</a>)</h2>
      <table class="table">
        <tr>
          <th scope="row">Parking</th>
          {% if destination.jurisdiction.parking_info %}
            <td>{{destination.jurisdiction.parking_info}}</td>
          {% else %}
            <td>No information in database</td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row">Camping</th>
          {% if destination.jurisdiction.camping_info %}
            <td>{{destination.jurisdiction.camping_info}}</td>
          {% else %}
            <td>No information in database</td>
          {% endif %}
        </tr>
      </table>
    </section>
  </div>
{% endblock detail_below_fold %}


