{% extends "planner/__base.html" %}

{% block main_content %}

  <section class="row">
    <section class="col">
      <h1>Jurisdictions ({{jurisdiction_list | length}})</h1>
      <p><a href="{% url 'jurisdiction-add' %}" class="btn btn-primary">Add New Jurisdiction</a></p>
      <ul>
        {% for jurisdiction in jurisdiction_list %}
          <li><a href="{{jurisdiction.get_absolute_url}}">{{jurisdiction.name}}</a></li>
        {% endfor %}
      </ul>
    </section>
  </section>
{% endblock %}
