{% extends "planner/__l_left_sidebar.html" %}

{% block main_content %}
<section class="row">
  <section class="col-6">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Username:</td>
                <td>{{user.get_username}}</td>
            </tr>
            <tr>
                <th scope="row">Name:</td>
                <td>{{user.get_full_name|default:"Update your profile to set your name"}}</td>
            </tr>
            <tr>
                <th scope="row">Email:</td>
                <td>{{user.email|default:"Update your profile to set your email"}}</td>
            </tr>
            <tr>
                <th scope="row">Nearest City:</td>
                <td>{{user.profile.nearest_city.name|default:"Update your profile to set the nearest major city to your current address"}}</td>
            </tr>
            <tr>
                <th scope="row">Street Address:</td>
                <td>
                    {% with prof=user.profile %}
                        {% if prof.street and prof.city and prof.state and prof.zip_code %}
                            <p>{{prof.street_line}}, {{prof.city_line}}</p>
                        {% else %}
                            <p>Update your profile to set your current address.</p>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
        </tbody>
    </table>
    <p><a href="{% url 'profile-update' %}" class="btn btn-secondary">Update Profile</a></p>
    <p><a href="{% url 'password_change' %}" class="btn btn-secondary">Change Password</a></p>
  </section>
</section>
{% endblock %}
