{% extends "planner/__base.html" %}

{% block main_content %}

  <h1>Routes ({{route_list | length}})</h1>
  <p>
    {% if perms.planner.add_route %}
      <a href="{% url 'route-add-combo' %}" class="btn btn-primary">Add New Route</a>
    {% endif %}
    <a href="{% url 'destination-search' %}" class="btn btn-primary">Trip Finder</a>
  </p>
  <p>
    <form action="" method="GET" class="form-inline">
      <label for="id_route_name">Name Filter:</label>
      <input type="text" class="form-control ml-2" name="route_name" maxlength="40" id="id_route_name">
      <button type="submit" class="btn btn-primary mx-2">Filter</button>
      <a href="{% url 'route-list' %}" class="btn btn-secondary">Clear Filter</a>
    </form>
  </p>

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Destination</th>
        <th scope="col" class="text-center">Distance</th>
        <th scope="col" class="text-center">Elevation Gain</th>
        <th scope="col" class="text-center">Class [1-5]</th>
        <th scope="col">Sequence</th>
      </tr>
    </thead>
    <tbody>
      {% for route in route_list %}
        <tr>
          <td><a href="{{route.get_absolute_url}}">{{route.name}}</a></td>
          <td><a href="{{route.destination.get_absolute_url}}">{{route.destination.name}}</a></td>
          <td class="text-center">{{route.total_distance|floatformat:1}} mi</td>
          <td class="text-center">{{route.gain|floatformat:"0"}} ft</td>
          <td class="text-center">{{route.class_rating}}</td>
          <td>{{route.path_seq_expanded}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
