{% extends "planner/__base.html" %}

{% block main_content %}
  {% include "planner/_nav_header.html" %}

  <h1>Routes ({{route_list | length}})</h1>
  <p>
    <a href="{% url 'route-add-combo' %}" class="btn btn-primary">Add New Route</a>
    <a href="{% url 'destination-search' %}" class="btn btn-primary">Trip Finder</a>
  </p>
  <p>
    <form action="" method="GET">
      <label for="id_route_name">Name Filter:</label>
      <input type="text" name="route_name" maxlength="40" id="id_route_name">
      <input type="submit" value="Filter">
    </form>
    <form action="" method="GET">
      <input type="submit" value="Clear Filter">
    </form>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Destination</th>
        <th scope="col">Distance</th>
        <th scope="col">Elevation Gain</th>
        <th scope="col">Class [1-5]</th>
        <th scope="col">Sequence</th>
      </tr>
    </thead>
    <tbody>
      {% for route in route_list %}
        <tr>
          <td><a href="{{route.get_absolute_url}}">{{route.name}}</a></td>
          <td><a href="{{route.destination.get_absolute_url}}">{{route.destination.name}}</a></td>
          <td>{{route.total_distance|floatformat:1}} mi</td>
          <td>{{route.gain|floatformat:"0"}} ft</td>
          <td>{{route.class_rating}}</td>
          <td>{{route.path_seq_expanded}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
