{% extends "planner/__l_detail_grid.html" %}


{% block admin_controls %}
  {% if perms.route.can_change %}
  <div class="mt-1 mb-2">
    <h3>Admin Controls</h3>
    <a href="{% url 'route-edit' pk=route.pk %}" class="btn btn-primary btn-block">Edit Page</a>
    <a href="{% url 'route-delete' pk=route.pk %}" class="btn btn-danger btn-block">Delete Page</a>
  </div>
  {% endif %}
{% endblock %}

{% block detail_buttons %}
  {% with dest=route.destination %}
    <div class="my-2">
      <a href="{{dest.google_maps_terrain_url}}" class="btn btn-secondary btn-block" target="_blank">Google Terrain</a>
      <a href="{{dest.google_maps_satellite_url}}" class="btn btn-secondary btn-block" target="_blank">Google Satellite</a>
      <a href="{{dest.caltopo_url}}" class="btn btn-secondary btn-block" target="_blank">CalTopo</a>
      <a href="{{dest.noaa_url}}" class="btn btn-secondary btn-block" target="_blank">NOAA Weather</a>
    </div>
  {% endwith %}
{% endblock %}

{% block sidebar_content %}

  <h3>Relevant Links</h3>
  <a href="{% url 'route-link-add' route_pk=route.pk %}" class="btn btn-primary btn-block">Add Link</a>

  <ul>
    {% for pub_link in public_links %}
      <li><a href="{{pub_link.url}}" target="_blank">{{pub_link.label}}</a>
        {% if perms.can_edit_routelink %}
          (<a href="{{pub_link.get_edit_url}}">Edit</a>)
          (<a href="{{pub_link.get_delete_url}}">X</a>)
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <h4>Your Links</h4>
  <ul>
    {% for pr_link in private_links %}
      <li><a href="{{pr_link.url}}" target="_blank">{{pr_link.label}}</a>
        (<a href="{{pr_link.get_edit_url}}">Edit</a>)
        (<a href="{{pr_link.get_delete_url}}">X</a>)
      </li>
    {% empty %}
      <li>No links saved.</li>
    {% endfor %}
  </ul>
{% endblock %}


{% block detail_title %}
  <h1>{{route.name}}</h1>
{% endblock %}


{% block detail_stats %}
  <table class="table">
    {% with dest=route.destination %}
      <tr>
        <th scope="row">Destination</th>
        <td><a href="{{dest.get_absolute_url}}">{{dest.name}} ({{dest.elevation | floatformat:"0"}} ft, {{dest.dest_type_expanded}})</a></td>
      <tr>
        <th scope="row">Total Distance</th>
        <td>{{route.total_distance | floatformat:1}} mi</td>
      </tr>
      <tr>
        <th scope="row">Total Elevation Gain</th>
        <td>{{route.gain | floatformat:"0"}} ft</td>
      </tr>
      <tr>
        <th scope="row">Class Rating</th>
        <td>{{route.class_rating}}</td>
      </tr>
      <tr>
        <th scope="row">Route Sequence</th>
        <td>{{route.path_seq_expanded}}</td>
      </tr>

      <tr>
        <th scope="row">Trailhead</th>
        <td><a href="{{route.trailhead.get_absolute_url}}">{{route.trailhead.name}}</a>
          <br>
        {% if general_drive_flag %}
          ({{general_drive_dist|floatformat:"0"}} mi, {{general_drive_time}} from {{user.profile.nearest_city}})
        {% endif %}
        </td>
      </tr>

      <tr>
        <th scope="row">Location</th>
        <td>{{route.destination.county.name}} County ({{route.destination.county.state}})</td>
      </tr>

      <tr>
        <th scope="row">Jurisdiction</th>
        <td><a href="{{route.destination.jurisdiction.website}}" target="_blank">{{route.destination.jurisdiction}}</a><br>{{route.destination.jurisdiction.governing_body}}</td>
      </tr>
    {% endwith %}
  </table>

  {% if user.profile.is_address_defined %}
    <a href="{{directions_external_url}}" class="btn btn-primary btn-block" target="_blank">Open Driving Directions</a>
  {% else %}
    <button class="btn btn-primary btn-block" disabled>Enter address in User Settings to enable driving directions</button>
  {% endif %}
{% endblock %}


{% block detail_map_embed %}
  <img src="{{route.destination.google_maps_embed_url}}">
{% endblock %}


{% block detail_below_fold %}

  <div class="row">
    {% if route.description %}
      <section class="col route-subsection">
        <h2>Description</h2>
        <p>{{route.description}}</p>
      </section>
    {% endif %}
  </div>

  <div class="row">
    <section class="col route-weather">
      <h2>Weather</h2>
      {% include "planner/_weather_tabs.html" with weather_by_day=weather_by_day %}
    </section>
  </div>

  <div class="row">
    <section class="col route-redtape">
      {% with juris=route.destination.jurisdiction %}
        <h2>Red Tape (<a href="{{juris.website}}" target="_blank">{{juris}}</a>)</h2>
        <table class="table">
          <tr>
            <th scope="row">Parking</th>
              <td>{{juris.parking_info|default:"No information in database"}}</td>
          </tr>
          <tr>
            <th scope="row">Camping</th>
              <td>{{juris.camping_info|default:"No information in database"}}</td>
          </tr>
        </table>
      {% endwith %}
    </section>
  </div>
{% endblock %}

