{% extends "planner/__l_detail_grid.html" %}


{% block sidebar_content %}
  <div>
    <p>
      <a href="{% url 'route-edit' pk=route.pk %}" class="btn btn-primary">Edit Page</a>
      <a href="{% url 'route-delete' pk=route.pk %}" class="btn btn-danger">Delete Page</a>
    </p>
    <p><a href="{% url 'route-link-add' route_pk=route.pk %}" class="btn btn-primary">Add Link</a></p>
  </div>
  <h3>Relevant Links</h3>
  <ul>
    {% for pub_link in public_links %}
      <li><a href="{{pub_link.url}}" target="_blank">{{pub_link.label}}</a>
        {% if perms.can_edit_routelink %}
          (<a href="{{pub_link.get_edit_url}}">Edit</a>)
          (<a href="{{pub_link.get_delete_url}}">X</a>)
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <ul>
    {% if public_links %}<h4>Your Links</h4>{% endif %}
    {% for pr_link in private_links %}
      <li><a href="{{pr_link.url}}" target="_blank">{{pr_link.label}}</a>
        (<a href="{{pr_link.get_edit_url}}">Edit</a>)
        (<a href="{{pr_link.get_delete_url}}">X</a>)
      </li>
    {% empty %}
      <li>No links saved.</li>
    {% endfor %}
  </ul>
{% endblock %}


{% block detail_title %}
  <h1>{{route.name}}</h1>
{% endblock %}


{% block detail_stats %}
  <table class="table">
    <tr>
      <th scope="row">Total Distance</th>
      <td>{{route.total_distance | floatformat:1}} mi</td>
    </tr>
    <tr>
      <th scope="row">Total Elevation Gain</th>
      <td>{{route.gain | floatformat:"0"}} ft</td>
    </tr>
    <tr>
      <th scope="row">Class Rating</th>
      <td>{{route.class_rating}}</td>
    </tr>
    <tr>
      <th scope="row">Route Sequence</th>
      <td>{{route.path_seq_expanded}}</td>
    </tr>

    <tr>
      <th scope="row">Trailhead</th>
      <td><a href="{{route.trailhead.get_absolute_url}}">{{route.trailhead.name}}</a></td>
    </tr>

    <tr>
      <th scope="row">Location</th>
      <td>{{route.destination.county.state}}<br>{{route.destination.county.name}} County</td>
    </tr>

    <tr>
      <th scope="row">Jurisdiction</th>
      <td>{{route.destination.jurisdiction}}<br>{{route.destination.jurisdiction.governing_body}}</td>
    </tr>
  </table>
{% endblock %}


{% block detail_buttons %}
  <a href="#" class="btn btn-secondary btn-block">Google Terrain</a>
  <a href="#" class="btn btn-secondary btn-block">Google Satellite</a>
  <a href="#" class="btn btn-secondary btn-block">CalTopo</a>
  <a href="#" class="btn btn-secondary btn-block">NOAA Weather</a>
{% endblock %}


{% block detail_below_fold %}

  <div class="row">
    <section class="col route-destinations">
        <h2>Route Destination</h2>
        {% with route.destination as dest %}
          <ul>
            <li><a href="{{dest.get_absolute_url}}">{{dest.name}} ({{dest.dest_type_expanded}}), {{dest.elevation | floatformat:"0"}} ft</a></li>
          </ul>
        {% endwith %}
    </section>
  </div>

  <div class="row">
    {% if route.description %}
      <section class="col route-subsection">
        <h2>Description</h2>
        <p>{{route.description}}</p>
      </section>
    {% endif %}
  </div>

  <div class="row">
    <section class="col route-weather">
      <h2>Weather</h2>
      {% include "planner/_weather_tabs.html" with weather_by_day=weather_by_day %}
    </section>
  </div>

  <div class="row">
    <section class="col route-redtape">
      <h2>Red Tape ({{route.destination.jurisdiction}})</h2>
      <table class="table">
        <tr>
          <th scope="row">Parking</th>
            <td>{{route.destination.jurisdiction.parking_info|default:"No information in database"}}</td>
        </tr>
        <tr>
          <th scope="row">Camping</th>
            <td>{{route.destination.jurisdiction.camping_info|default:"No information in database"}}</td>
        </tr>
      </table>
    </section>
  </div>
{% endblock %}

