{% extends "planner/__l_detail_grid.html" %}

{% load static %}



{% block stylesheets %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'planner/css/trailhead_detail.css' %}">
{% endblock %}


{% block admin_controls %}
  <div class="mt-1 mb-4">
    <h3>Admin Controls</h3>
    <a href="{% url 'trailhead-edit' pk=trailhead.pk %}" class="btn btn-primary btn-block">Edit Page</a>
    <a href="{% url 'trailhead-delete' pk=trailhead.pk %}" class="btn btn-danger btn-block">Delete Page</a>
  </div>
{% endblock %}


{% block detail_buttons %}
  <a href="{{trailhead.google_maps_terrain_url}}" class="btn btn-secondary btn-block" target="_blank">Google Terrain</a>
  <a href="{{trailhead.google_maps_satellite_url}}" class="btn btn-secondary btn-block" target="_blank">Google Satellite</a>
  <a href="{{trailhead.caltopo_url}}" class="btn btn-secondary btn-block" target="_blank">CalTopo</a>
  <a href="{{trailhead.noaa_url}}" class="btn btn-secondary btn-block" target="_blank">NOAA Weather</a>
{% endblock %}


{% block detail_title %}
  <h1>{{trailhead.name}}</h1>
{% endblock %}


{% block detail_stats %}
  <table class="table">
    <tr>
      <th scope="row">Lat/Lon</th>
      <td>{{trailhead.latitude}}, {{trailhead.longitude}}</td>
    </tr>
    <!-- placeholder for elevation in case it is ever added
    <tr>
      <th scope="row">Elevation</th>
      <td>{{trailhead.elevation | floatformat:"0"}} ft</td>
    </tr>
    -->
    <tr>
      <th scope="row">Location</th>
      <td>{{trailhead.county.name}} County ({{trailhead.county.state}})</td>
    </tr>
    <tr>
      <th scope="row">Jurisdiction</th>
      <td><a href="trailhead.jurisdiction.website">{{trailhead.jurisdiction}}</a><br>{{trailhead.jurisdiction.governing_body}}</td>
    </tr>
    <tr>
      <th scope="row">Drive Distance</th>
      <td>{{directions_api_distance}}</td>
    </tr>
    <tr>
      <th scope="row">Drive Time</th>
      <td>{{directions_api_duration}}</td>
    </tr>
  </table>

  {% if directions_api_status != "OK" %}
  <div class="alert alert-danger">{{directions_api_message}}</div>
  {% endif %}
  {% if directions_api_data_status != "OK" and directions_api_data_status != "" %}
  <div class="alert alert-danger">{{directions_api_data_message}}</div>
  {% endif %}

  <a id="TH-directions-button" href="{{directions_external_url}}" class="btn btn-primary btn-block" target="_blank">Open Driving Directions</a>
  {# <p><a href="{{directions_api_url}}">Directions API call</a></p> #}

{% endblock %}

{% block detail_map_embed_section_override %}
  <section class="col-md-6">
    <iframe width="100%" height="100%" frameborder="0" src="{{trailhead.google_maps_embed_url}}" allowfullscreen></iframe>
  </section>
{% endblock %}


{% block detail_below_fold %}
  <div class="row mt-3">
    <section class="col th-weather">
      <h2>Weather</h2>
      {% include "planner/_weather_tabs.html" with weather_by_day=weather_by_day %}
    </section>
  </div>


  <div class="row">
    <section class="col dest-routes">
      {% with routes=trailhead.route_set.all %}
        <h2>Accessible Routes ({{routes | length}})</h2>

        {% if routes %}
          <ul>
          {% for route in routes %}
            {% with dest=route.destination %}
            <li>
              <a href="{{route.get_absolute_url}}">{{dest.name}} - {{route.name}}</a>
            </li>
            {% endwith %}
          {% endfor %}
          </ul>
        {% else %}
          <p>There are no saved routes linked to this trailhead.</p>
        {% endif %}

      {% endwith %}
    </section>
  </div>

  <div class="row">
    <section class="col th-redtape">
      <h2>Red Tape (<a href="{{trailhead.jurisdiction.website}}">{{trailhead.jurisdiction}}</a>)</h2>
      <table class="table">
        <tr>
          <th scope="row">Parking</th>
          {% if trailhead.jurisdiction.parking_info %}
            <td>{{trailhead.jurisdiction.parking_info}}</td>
          {% else %}
            <td>No information in database</td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row">Camping</th>
          {% if trailhead.jurisdiction.camping_info %}
            <td>{{trailhead.jurisdiction.camping_info}}</td>
          {% else %}
            <td>No information in database</td>
          {% endif %}
        </tr>
      </table>
    </section>
  </div>
{% endblock %}


